<div class="container" layout="column" layout-align="center center">
    <center>Create Message</center>
    <h1>Select Template</h1>
    Create New Template:
    <input type="checkbox" ng-model="myVar">
    <div ng-show="myVar" layout="column" layout-align="center center">
        <input ng-model=hc.createdTemplate.template_name type="text" placeholder="Template Name"></input>
        <input ng-model=hc.createdTemplate.text type="text" placeholder="Message"></input>
        <md-button ng-click="hc.createTemplate()">Create</md-button>
    </div>
</div>
<div ng-repeat="template in hc.templates">
    <md-button ng-click="hc.selectedTemplate = template.text">{{template.template_name}}</md-button>
</div>
<h1>Select Time of Day</h1>
<div layout="row">
    <md-button ng-click="hc.selectedTimeOfDay = 'Good morning'">Morning</md-button>
    <md-button ng-click="hc.selectedTimeOfDay = 'Good afternoon'">Afternoon</md-button>
    <md-button ng-click="hc.selectedTimeOfDay = 'Good evening'">Night</md-button>
</div>
<h1>Select location</h1>
<div ng-repeat="location in hc.locations" layout="row">
    <md-button ng-click="hc.selectedLocation.company = location.company">{{location.company}} </md-button>
</div>
<h1>Select guest you would like to send the message to</h1>
<div ng-repeat="guests in hc.guests" layout="row">
    <md-button ng-click="hc.selectedGuest.first_name = guests.first_name 
    ; hc.selectedGuest.last_name = guests.last_name ;
    hc.selectedGuest.roomnumber = guests.room_number ; 
    hc.selectedGuest.reservation = guests.reservation">{{guests.first_name}} {{guests.last_name}}</md-button>
</div>
{{hc.selectedTimeOfDay}} {{hc.selectedGuest.first_name}} {{hc.selectedGuest.last_name}}
<br>
{{hc.selectedTemplate}}
<br>
Room Number : {{hc.selectedGuest.roomnumber}}
<br>
 Reservation Number : {{hc.selectedGuest.reservation}}
<br>
<br>
Sinsearly {{hc.selectedLocation.company}}

<br>
<br>
<md-button>Send Messages</md-button>
</div>
</div>